# SQLite
- in-process library
  * implements a transactional SQL database engine
    * self-contained, 
    * serverless, 
    * zero-configuration.
- not a standalone process like other databases, 
  * link it statically or dynamically as per your requirement with your application. 
- accesses its storage files directly.

# Who?
- Apple
- Google (Android)
- Facebook
- ...


# Why?
- serverless
- zero-configuration
- complete SQLite database is stored in a single cross-platform disk file.
- very small and light weight, less than 400KiB fully configured or less than 250KiB with optional features omitted.
- self-contained, which means no external dependencies.
- **fully ACID-compliant**, allowing safe access from multiple processes or threads.
- supports most of the query language features found in SQL92 (SQL2) standard.
- written in ANSI-C and provides simple and easy-to-use API.
- available on UNIX (Linux, Mac OS-X, Android, iOS) and Windows (Win32, WinCE, WinRT).

# Why Not?
- Does not handle concurrent writes well,
  * uses the file lock mechanism
- Limit on the size of the database (max size is typically 140 TB)
- Not optimal to be used for a large client-server architecture
  * gets bogged down by the latency of network filesystems

# What?

- Domain definition language
- Data manipulation language
- Data query language

# Creating database
```shell
sqlite3 movies.db
```
Creates a database called movies.db (if not exists already) and then connects to it.

# SQLite3 environment

## Basic Commands
- .help
- .databases
- .tables
- .schema <name_of_table>
- .quit

# SQLite3 environment

## More Useful Commands

| Command | Description |
| :---:   |     :---:   |
|.cd DIRECTORY            |Change the working directory to DIRECTORY|
|.clone NEWDB             |Clone data into NEWDB from the existing database|
|.databases               |List names and files of attached databases|
|.dump ?TABLE? ...        |Render all database content as SQL|
|.excel                   |Display the output of next command in a spreadsheet|
|.headers on \|of        |Turn display of headers on or off|
|.import FILE TABLE       |Import data from FILE into TABLE|
|.mode MODE ?TABLE?       |Set output mode|
|.open ?OPTIONS? ?FILE?   |Close existing database and reopen FILE|
|.output ?FILE?           |Send output to FILE or stdout if FILE is omitted|
|.quit                    |Exit this program|
|.read FILE               |Read input from FILE|
|.restore ?DB? FILE       |Restore content of DB (default "main") from FILE|
|.save FILE               |Write in-memory database into FILE|
|.schema ?PATTERN?        |Show the CREATE statements matching PATTERN|
|.separator COL ?ROW?     |Change the column and row separators|
|.tables ?TABLE?          |List names of tables matching LIKE pattern TABLE|
|.width NUM1 NUM2 ...     |Set column widths for "column" mode|

# Creating tables
```sql
CREATE TABLE movies(
    column_name column_type constraints,
    ...
  )
```

# Data types in SQLite3
- Most SQL databases support static, rigid typing
- Type of a value is determined by the type of the column in which it is support
- But not SQLite3

### SQLite3 supports dynamic type system
- Datatype of a value is associated with the value itself, not with its column
- SQLite3 provides *backward compatibility* to support common static type systems from other databases

# Storage Classes in SQLite3
* NULL
* INTEGER
* REAL 
* TEXT
* BLOB

### Storage class is different than a datatype
- Storage class determines how a value is stored on the disk
- Datatype is how the value is considered when loaded in the memory

# Type Affinity in SQLite3
- When we specify the `type` in `CREATE TABLE` query, we only specify the type affinity
  * recommender type for data stored in that column
- Five type affinities are allowed:
  * TEXT
  * NUMERIC
  * INTEGER
  * REAL 
  * BLOB
- SQLite3 uses the type to determine what storage class to use to store a particular value
- For example, if a column is defined as TEXT, then the data would be stored using storage class NULL, TEXT or BLOB
- A column with NUMERIC affinity may contain values using all five storage classes.

# Adding Constraints

# NOT NULL Constraint

- Allows you to specify that a column will not permit NULL values
```sql
CREATE TABLE movies(
    movieid INTEGER,
    moviename TEXT NOT NULL);
```
- Column moviename will not permit null values
- Try
```
INSERT INTO movies (movieid) VALUES (2);
```

# UNIQUE Constraint

- Allows you to specify that a column will not permit duplicate values
```sql
CREATE TABLE movies(
    movieid INTEGER,
    moviename TEXT UNIQUE);
```
- Column moviename will not permit null values
- Try
```
INSERT INTO movies (movieid,moviename) VALUES (2,'Titanic');
INSERT INTO movies (movieid,moviename) VALUES (2,'Avengers');
INSERT INTO movies (movieid,moviename) VALUES (3,'Titanic');
```

# CHECK
- Allows checks on columns during insert or update time
```
CREATE TABLE movies(
    movieid INTEGER,
    moviename TEXT UNIQUE CHECK length(moviename) > 3);
```
- Only permits moviename column values that are longer than 2 characters
  - can combine this with other functions besides `length()`

# Primary Keys

```sql
CREATE TABLE movies(
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL);
```
or
```sql
CREATE TABLE movies(
    id INTEGER,
    name TEXT NOT NULL,
    PRIMARY KEY(id));
```

- Will get automatically assigned an id during INSERT if none provided
```sql
INSERT INTO movies(name) VALUES('Shawshank Redemption');
```
or
```sql
INSERT INTO movies VALUES(1,'Shawshank Redemption');
```
> The auto-increment only happens if the primary key is an INTEGER.

# Creating Relationships

- You can specify relationships among multiple tables in the same database
- Consider the following database schema:

```sql
CREATE TABLE movies(
    movieid INTEGER PRIMARY KEY,
    moviename TEXT NOT NULL);
    
CREATE TABLE actors(
    actorid INTEGER PRIMARY KEY,
    actorname TEXT NOT NULL);
    
CREATE TABLE actedIn(
    rowid INTEGER PRIMARY KEY,
    actorid INTEGER NOT NULL,
    movieid INTEGER NOT NULL,
    FOREIGN KEY(movieid) REFERENCES movies(movieid)
    FOREIGN KEY(actorid) REFERENCES actors(actorid));
```

# What do FOREIGN KEYs accomplish?
- Give a sense of relationships (entity-relationship)
- Constraints on deletes and updates
> Try deleting or updating a row with a foreign key constraint

# PRAGMA Directives
- SQL extension supported by SQLite
- Modify operation of the SQLite library
- Or, query the SQLite library for internal (non-table) data
> We will not worry about these much except for one:
  ```sql
  PRAGMA foreign_keys = ON;
  ```
  - Without executing this pragma directive, the foreign key constraints will not be enforced

# Loading data

```sql
INSERT INTO tablename VALUES ();
```

- Can also use `.import` to read from csv from the sqlite3 prompt

```shell
.import filename.csv tablename
```
> Make sure that the sqlite3 separator matches the separator used by the csv file
  ```shell
  .separator ','
  ```

# Querying data
- We will use the `employees.db` database from here on
```shell
sqlite3 employees.db
.read settings.sql -- this is to load some display preferences
.tables
```

## Simplest SQL query
- SELECT by itself is just asking SQLite to execute the statement that comes after. So you can also do:
```sql
SELECT 4+4;
SELECT 8*8,9/4;
```
- Output for a SELECT statement is also a table that can then be saved or queried further
- We use SELECT to query a table
```sql
SELECT * FROM employees
```
> Note that the output will be dumped on the screen. Since this table has a large number of rows, you can limit the output by:
  ```sql
  SELECT * FROM employees LIMIT 10
  ```

# A Full SELECT Query
```sql
SELECT DISTINCT column_list
FROM table_list
  JOIN table ON join_condition
WHERE row_filter
ORDER BY column
LIMIT count OFFSET offset
GROUP BY column
HAVING group_filter;
```
- We will look at each one of these options one by one

# Specifying Output Columns
- Also known as the projection part of the query
- Specify which columns we want, possible renaming of the columns, and even some functions applied to the columns

## Examples
- Return all columns from the table `dept_manager`
```sql
SELECT * FROM dept_manager
```
> Note: avoid in real applications

- Only returns the column `dept_no`
```sql
SELECT dept_no FROM dept_manager
```
- Rename the column
```sql
SELECT dept_no as department FROM dept_manager
```
- Get distinct row values only
```sql
SELECT DISTINCT dept_no as department FROM dept_manager
```

# Using built-in SQLite functions
- Commonly used functions: count, min, max
- Example: count the number of employees
```sql
SELECT count(*) FROM employees
```
- Find the lowest salary in the entire database
```sql
SELECT min(salary) FROM employees
```
> Built-in functions can also be used in the WHERE clauses, as we will see later

# Ordering output (ORDER BY)
- Get all managers sorted by start time
```sql
SELECT * FROM dept_manager ORDER BY from_date
```

- Get all managers sorted by start time (in decreasing order)
```sql
SELECT * FROM dept_manager ORDER BY from_date DESC
```

# Limiting output (LIMIT)
- Get only the first few rows 
```sql
  SELECT * FROM employees LIMIT 10
```
- Get only the first few rows starting from an offset
```sql
  SELECT * FROM employees LIMIT 10 OFFSET 4
```
- The last statement will print 10 rows starting from the 5th row

# Combining ORDER BY and LIMIT

- Find the 10 oldest employees (by age)
```sql
SELECT * FROM employees ORDER BY birth_date limit 10
```

- Find the 10 most recently hired employees 
```sql
SELECT * FROM employees ORDER BY hire_date DESC limit 10
```

- Find the second most recently hired employee in the database

```sql
SELECT * FROM employees
ORDER BY hire_date DESC LIMIT 1 OFFSET 1
```

# Filtering output (WHERE)
- Filter rows from a select query based on some condition
- Find salaries that are greater than 150,000
```sql
SELECT * FROM salaries WHERE salary > 150000
```
> You can also use the WHERE clause with DELETE and UPDATE conditions

- Can use two types of conditional statements in the WHERE clause
  1. Comparison: =, != (or <>), <, <=, >, >= 
  2. Logical: AND, OR, NOT, BETWEEN, EXISTS, IN, LIKE

# Examples
- Find employees who were born after 1965 and hired before 1986
```sql
SELECT * FROM employees WHERE birth_date > '1965-01-01' AND hire_date < '1986-01-01';
```
- Find employees who were born in the 50s
```sql
SELECT count(*) FROM employees WHERE birth_date BETWEEN '1950-01-01'  AND '1960-01-01';
```
- Find employees whose last name is either Reeker or Esposito
```sql
SELECT * FROM employees WHERE last_name IN ('Reeker','Esposito')
```
- Find employees whose last name starts with A
```sql
SELECT * FROM employees WHERE last_name LIKE 'A%'
```
- We will see the use of `EXISTS` when we discuss subqueries

# More about LIKE
- Can use `LIKE` with a `%` or a `_` (single character match)
```sql
SELECT * FROM employees WHERE last_name LIKE 'A_pin'
```
- `LIKE` is case-insensitive
- Can use the following PRAGMA directive to enforce case-sensitive matching
```sql
PRAGMA case_sensitive_like = true;
```
- Try the following:
```sql
SELECT * FROM employees WHERE first_name LIKE '%Arc%';
PRAGMA case_sensitive_like = true;
SELECT * FROM employees WHERE first_name LIKE '%Arc%';
```

# Grouping data
- `GROUP BY` - An optional clause to a `SELECT` statement
- Group rows by the values of a certain set of columns
- Returns one row per group
- Allows aggregate functions to be applied to each group (`min`, `max`, `sum`, `count`, `avg`
- Find the distinct last names of the employees and the counts for each last name
```sql
SELECT last_name, count(*) FROM employees GROUP BY last_name;
```

# More examples
- Find the oldest employee for each distinct last name

```sql
SELECT last_name, count(*),min(birth_date) 
FROM employees 
GROUP BY last_name;
```

# More examples
- Find the most frequent last name

```sql
SELECT last_name, count(*) as freq 
FROM employees 
GROUP BY last_name 
ORDER BY freq DESC LIMIT 1;
```

# Adding HAVING to the GROUP BY Clause
- Allows filtering out groups that do not match a certain aggregate criterion
- Example: Find out all the unique last names such that at least 40 people have that last name
```sql
SELECT last_name, count(*) as freq 
FROM employees 
GROUP BY last_name 
HAVING count(*) > 40
```
- Find all employees whose average salary was greater than 120000

```sql
SELECT emp_no, avg(salary) 
FROM salaries 
GROUP BY emp_no 
HAVING avg(salary) > 120000;
```

# Joining Tables
- A fundamental operation in databases (connecting multiple tables)
  1. INNER JOIN
  2. LEFT JOIN
  3. CROSS JOIN
  4. ~~RIGHT JOIN~~
  5. ~~FULL OUTER JOIN~~
- General syntax
```sql
SELECT a.columns,b.columns
FROM table a
<JOINTYPE> JOIN table b ON a.joiningcolumn = b.joiningcolumn
```
- Can join on more than two tables (first one will be the left table)

# INNER JOIN
- Most widely used flavor of join
- Return rows from left and right tables which match the join criterion
- If both tables have the same column name in the ON clause, you can use `USING` clause instead of `ON`
- Example: find name and salaries of all employees
```sql
SELECT e.first_name, e.last_name, e.emp_no, s.salary
FROM employees e
INNER JOIN salaries s ON e.emp_no = s.emp_no
```
or 
```sql
SELECT e.first_name, e.last_name, e.emp_no, s.salary
FROM employees e
INNER JOIN salaries s USING(emp_no)
```

- Question: What if there is an employee who never drew a salary?

# Another example
- Find the current salary for the manager of each department

```sql
SELECT m.emp_no, m.dept_no, s.salary
FROM dept_manager m 
JOIN salaries s USING(emp_no) 
WHERE m.to_date = '9999-01-01' AND s.to_date='9999-01-01';
```

# Another example
- For each employee find the dept_o that they were manager of (hint: use the `dept_manager` table)
```sql
SELECT e.first_name, e.last_name, e.emp_no, d.dept_no
FROM employees e
INNER JOIN dept_manager d ON e.emp_no = d.emp_no
```

- What about the employees who were never managers?

# LEFT JOIN
- Returns all rows from the left table along with the matching row from the right tables (if the join condition matches) or null
```sql
SELECT e.first_name, e.last_name, e.emp_no, d.dept_no
FROM employees e
LEFT JOIN dept_manager d ON e.emp_no = d.emp_no
```

# CROSS JOIN
- Returns all rows of the left table combined with all rows of the right table (a cartesian product)
- Obviously there will not be any join condition (no `ON` or `USING`)
- For example:
```sql
SELECT d.*,m.* 
FROM departments d 
CROSS JOIN dept_manager m;
```

# Subqueries
- A `SELECT` statement nested in another statement
- Two typical uses
  1. Nested subquery in a `WHERE` clause
  ```sql
  SELECT col1
  FROM table1
  WHERE col1 = (
      SELECT col2
      FROM table2
  )
  ```
  2. Nest subquery in a `FROM` clause
  ```sql
  SELECT table1.col1
  FROM(
      SELECT col2
      FROM table2
      ) table1
  ```

# Nested subqueries in a `WHERE` clause
- Depending on the number of rows returned by the sub-query you can either use comparisons (if number of rows is 1) or `IN` or `EXISTS`
- Example: find all oldest employees
  - Two sub-problems here:
    1. First find the earliest birthdate, and
    2. Find all employees with birthdate equal to that date

```sql
SELECT e.first_name,e.last_name
FROM employees e
WHERE e.birth_date = (
    SELECT min(birth_date)
    FROM employees e
    )
```

# Another example
- Find all managers who make less than current average salary of all employees
  * What is the current average salary for all employees?

```sql
SELECT avg(salary)
FROM salaries 
WHERE to_date='9999-01-01';
```

- full query
```sql
SELECT m.emp_no, m.dept_no, s.salary
FROM dept_manager m 
JOIN salaries s USING(emp_no) 
WHERE m.to_date = '9999-01-01'
AND s.to_date='9999-01-01'
AND salary > (
    SELECT avg(salary)
    FROM salaries 
    WHERE to_date='9999-01-01'
    )
```

# Using `IN`
- If a subquery returns more than one row, then comparison will not work
- You can use `IN` to check the membership
- Example: Find the count of all employees who have ever worked in one of the roles as employee number 499617 (Hint: use the `titles` table)

```sql
SELECT COUNT(DISTINCT t.emp_no)
FROM titles t
WHERE t.title IN (
    SELECT title FROM titles WHERE emp_no = 499617
)
```

# Using `EXIST`
- Allows for checking if the output of a query is empty or not
- Example: Find all current managers who have ever worked something besides a manager
```sql
SELECT m.emp_no
FROM dept_manager m
WHERE EXISTS (
    SELECT * FROM titles t WHERE t.emp_no = m.emp_no AND t.title <> 'Manager' 
    )
```

- If we want to get the titles and names of those managers we can nest the above query
```sql
SELECT e.first_name,e.last_name,t.title
FROM (SELECT m.emp_no
FROM dept_manager m
WHERE EXISTS (
    SELECT * FROM titles t WHERE t.emp_no = m.emp_no AND t.title <> 'Manager' 
    )) mg
JOIN employees e USING(emp_no)
JOIN titles t USING(emp_no)
```
- This is an example of a **correlated** subquery - the subquery is dependent on the parent query
- These are slower to run

# Nested subqueries in a `FROM` clause
- Example: Find the most recent salary of all employees
- Remember that each employee might have several records in `salaries` table with `to_date`
- The record with most recent `to_date` will indicate the last position
- Subquery - Get the record for each employee with most recent date
```sql
SELECT emp_no,max(to_date) AS to_date 
FROM salaries GROUP BY emp_no
```

- Using the output of the subquery as a table to join
```sql
SELECT max_salaries.emp_no,s.salary
FROM (SELECT emp_no,max(to_date) AS to_date FROM salaries GROUP BY emp_no) max_salaries
JOIN salaries USING(emp_no,to_date)
```

# Creating intermediate tables
- Output of any query can be inserted into an existing table
  * As long as the schema matches
```sql
INSERT INTO employees_females SELECT * FROM employees WHERE gender = 'F'
```

# Set operators
- Operate on two query outputs (same schema is required)
- Consider each otput as a set of rows
  1. Union
  2. Except
  3. Intersect

# Weekend Problem
- Find all employees whose current salary is more than the current salary of their managers
  * Current salary of the current manager of each department
  * Current salary of each employee
  * Current salary of the current manager of each employee

# Indexes in SQLite
- What are indexes?
  * Data structures used to make queries faster
  * Uses B-tree (Balanced) for organizing indexes
  * You can define an index on one or more columns of a table
  * You can have multiple indexes for the same table
  
  ```sql
  CREATE INDEX <index-name>
  ON <table-name>(column-list)
  ```
- Example:
  ```sql
  CREATE INDEX employees_last_name
  ON employees(last_name)
  ```
- You can delete indexes by using
  ```sql
  DROP INDEX [IF EXISTS] <index-name>
  ```

# When to create Index
- Need to speed up queries
- Downside:
  * Size - index take space
  * Insert/Update/Delete performance

# Calling SQLite from Python

In [ ]:
import sqlite3

In [5]:
conn = sqlite3.connect('/Users/chandola/Teaching/eascourse/eas503-ub/notebooks/employees_db/employees.db')
c = conn.cursor()
# do stuff
querystr = 'SELECT COUNT(*) FROM employees'
res = c.execute(querystr)
for r in res:
    print(r)
conn.close()

(50019,)

In [9]:
conn = sqlite3.connect('/Users/chandola/Teaching/eascourse/eas503-ub/notebooks/employees_db/employees.db')
c = conn.cursor()
# do stuff
querystr = 'SELECT * FROM employees WHERE first_name LIKE "A%" LIMIT 10'
res = c.execute(querystr)
reslist = []
for r in res:
    reslist.append(r)
conn.close()

In [13]:
print(len(reslist))
print(type(reslist[0]))
print(reslist[0])

10
<class 'tuple'>
(10033, '1956-11-14', 'Arif', 'Merlo', 'M', '1987-03-18')